.header-mobile{
    display: none;
}
.close-menu{
    display: none;
}
.contenedor{
    padding-top: 1rem;
    padding-left: 1%;
    display: flex;
    background-color: var(--clr-main);
   

    
}
body{
    background-color:var(--clr-main) ;
    
}
.titulo-principal{
    padding: 1rem ;
    color: var(--clr-main);
}
.contenedor-carrito{
    background-color: var(--clr-white);
    
}
.logo{
    color: var(--clr-white);
    font-size: 1rem;
    margin-top: 2rem;
}
.aside-visible h1{
    text-align: center;
}
.aside-visible{
    flex-direction: column;
    height: 57rem;
    display: flex;
    flex: 1;
    
    left: 0.8rem;
    
    
}
.texto-footer{
    position: fixed;
    bottom: 2rem;
    margin-left: 2rem;
}
main{
    
    background-color: var(--clr-white);
    border-radius: 0.8rem;
    flex: 3;
    
}
.menu{
    margin-top: 17rem;

}

.boton-menu{
    
    border: none;
    padding: 2rem;
    
    text-align: left; 
    width: 90%;
    border-radius: 1rem;
    background-color: var(--clr-main);
    color: var(--clr-white);
    margin: 1rem;

   
}
.boton-menu:hover{
    background-color: var(--clr-white);
    color: var(--clr-main);
    transition: 350ms;
}
 li a{
    display: block;
 }
 .carrito-vacio{
    padding: 1rem;
    color: var(--clr-main);
}
.carrito-comprado{
    display: none;
}

.carrito-producto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin:1rem;
    border-radius: 1rem;
    background-color:var(--clr-gray) ;
    
}

.carrito-producto-imagen {
    width: 5rem;
    height: auto;
    border-radius: 0.2rem;
}

.carrito-producto-titulo, .carrito-producto-cantidad, 
.carrito-producto-precio, .carrito-producto-subtotal{
    margin: 0 ;
    color: var(--clr-main);
}

.carrito-producto-titulo h3, .carrito-producto-cantidad p, 
.carrito-producto-precio p, .carrito-producto-subtotal p {
    margin: 0;
    color: var(--clr-main);
}
.carrito-producto-eliminar{
    color: red;
    border: none;
}

.carrito-comprado{
    background-color: var(--clr-main);
}
.carrito-acciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-top: 0.5rem;
}

.carrito-acciones-izquierda, .carrito-acciones-derecha {
    display: flex;
    align-items: center;
}

.carrito-acciones-izquierda {
    justify-content: flex-start;
}

.carrito-acciones-derecha {
    justify-content: flex-end;
}

.carrito-acciones-total {
    display: flex;
    flex-direction:row;
    align-items: flex-end;
    margin-right: 1rem;
    color: var(--clr-main);
    font-size: medium;
}

.carrito-acciones-total p {
    margin: 0;
    
    
}

.carrito-acciones-comprar {
    padding: 0.6rem;
    background-color:var(--clr-main);
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 5px;
    text-align: center;
    display: inline-block;
}
.carrito-acciones-vaciar{
background-color: var(--clr-gray);
padding: 0.6rem;
border-radius: 0.5rem;
color: var(--clr-main);
border: none;
}
.carrito-acciones-vaciar:hover, .carrito-acciones-comprar:hover {
    background-color:var(--clr-white);
}
.carrito-acciones-comprar:hover{
    color:black;
}