.header-mobile{
    display: none;
}
.close-menu{
    display: none;
}
.contenedor{
    padding-top: 1rem;
    padding-left: 1%;
    display: flex;
    background-color: var(--clr-main);
    

    
}
body{
    background-color:var(--clr-main) ;
}
.titulo-principal{
    padding: 1rem ;
    color: var(--clr-main);
}
.contenedor-productos{
    background-color: var(--clr-white);
}
.logo{
    color: var(--clr-white);
    font-size: 1rem;
    margin-top: 2rem;
}

.aside-visible h1{
    text-align: center;
}
.aside-visible{
    flex-direction: column;
    height: 80rem;
    display: flex;
    flex: 1;
    
    left: 10px;
    
    
}
.texto-footer{
    position: fixed;
    bottom: 2rem;
    margin-left: 2rem;
}
main{
    
    background-color: var(--clr-white);
    border-radius: 10px;
    flex: 3;
    
}



.menu{
    margin-top: 20rem;
}

.boton-menu{
    
    border: none;
    padding: 2rem;
    text-align: left; 
    width: 90%;
    border-radius: 1rem;
    background-color: var(--clr-main);
    color: var(--clr-white);
    margin: 1rem;

    
}
 li a{
    display: block;
 }


.boton-menu:hover{
    background-color: var(--clr-white);
    color: var(--clr-main);
    transition: 350ms;
}